<?xml version="1.0" encoding="utf-8"?>
<config>
  <settings>
    <preloader image="images/0001.jpg" />
    <userInterface showZoomButtons="true" showToolTips="true" showHotspotsButton="true" showFullScreenButton="true" showTogglePlayButton="true" showArrows="true" toolbarAlign="center" toolbarBackColor="#FFFFFF" toolbarHoverColor="#808285" toolbarForeColor="#A7A9AE" toolbarBackAlpha="0.59" toolbarAlpha="1" showProgressNumbers="true" showFullScreenToolbar="true" fullScreenBackColor="#FFFFFF" toolbarPosition="0" customCursorClass="default_cursor" viewerHint="" toolbarAutohide="false" showToolbarOnLoadStart="true" />
    <control dragSpeed="0.13" doubleClickZooms="true" disableMouseControl="false" showHighresOnFullScreen="true" mouseHoverDrag="false" hideHotspotsOnLoad="false" hideHotspotsOnZoom="true" rowSensitivity="15" dragSensitivity="10" inBrowserFullScreen="false" doubleClickFullscreen="false" zoomSteps="1" zoomSpeed="300" singleClickZooms="false" pauseOnPreload="false" resumePreloadOnHover="false" mouseWheelDrag="false" mouseWheelDragZoomOnly="false" allowRotateInputInZoom="false" allowPanX="true" allowPanY="true" />
    <rotation firstImage="0" rotate="false" rotatePeriod="7" bounce="false" rotateDirection="-1" forceDirection="false" inertiaRelToDragSpeed="true" inertiaTimeToStop="700" inertiaMaxInterval="120" useInertia="true" flipHorizontalInput="false" flipVerticalInput="false" bounceRows="true" rowsOnSingleIndex="false" flipAxis="false" />
  </settings>
  <hotspots>
    <hotspot id="spot2" renderMode="0" indicatorImage="circ-cross-thin-green.svg">
      <spotinfo txt="Tầng 2" css="font-family:Arial;font-size:14px;color:#fff;width:200px;padding:15px 15px 16px 15px;border:1px solid rgb(59, 97, 142);border-radius:4px;background-color:rgba(59, 97, 142, 0.9);transform:translateX(-120px)" clickAction="5" clickData="play" clickDataParam="2" />
    </hotspot>
    <hotspot id="spot3" renderMode="0" indicatorImage="circ-cross-thin-orange.svg">
      <spotinfo txt="Tầng 3" css="font-family:Arial;font-size:14px;color:#fff;width:200px;padding:15px 15px 16px 15px;border:1px solid rgb(59, 97, 142);border-radius:4px;background-color:rgba(59, 97, 142, 0.9);transform:translateX(-120px)" clickAction="5" clickData="play" clickDataParam="3" />
    </hotspot>
    <hotspot id="spot5" renderMode="0" indicatorImage="circ-cross-thin-blue.svg">
      <spotinfo txt="Tầng 5" css="font-family:Arial;font-size:14px;color:#fff;width:200px;padding:15px 15px 16px 15px;border:1px solid rgb(59, 97, 142);border-radius:4px;background-color:rgba(59, 97, 142, 0.9);transform:translateX(-120px)" clickAction="5" clickData="play" clickDataParam="5" />
    </hotspot>
  <hotspot id="spot7" renderMode="0" indicatorImage="circ-cross-thin-red.svg">
    <spotinfo txt="Tầng 7" css="font-family:Arial;font-size:14px;color:#fff;width:200px;padding:15px 15px 16px 15px;border:1px solid rgb(59, 97, 142);border-radius:4px;background-color:rgba(59, 97, 142, 0.9);transform:translateX(120px)" clickAction="5" clickData="label2" clickDataParam="8" />
    
  </hotspot>
  <hotspot id="spot8" renderMode="0" indicatorImage="circ-cross-thin-grey.svg">
    <spotinfo txt="Tầng 8" css="font-family:Arial;font-size:14px;color:#fff;width:200px;padding:15px 15px 16px 15px;border:1px solid rgb(59, 97, 142);border-radius:4px;background-color:rgba(59, 97, 142, 0.9);transform:translateX(120px)" clickAction="5" clickData="play" clickDataParam="7" />
  </hotspot>
  </hotspots>
  <images rows="1">
    <image src="images/0001.jpg">
      <hotspot source="spot2" offsetX="770" offsetY="750" />
      <hotspot source="spot3" offsetX="770" offsetY="685" />
      <hotspot source="spot5" offsetX="770" offsetY="530" />
      <hotspot source="spot7" offsetX="770" offsetY="390" />
      <hotspot source="spot8" offsetX="615" offsetY="340" />
    </image>
    <image src="images/0002.jpg">
      <hotspot source="spot2" offsetX="716" offsetY="747" />
      <hotspot source="spot3" offsetX="718" offsetY="682" />
      <hotspot source="spot5" offsetX="718" offsetY="530" />
      <hotspot source="spot7" offsetX="718" offsetY="390" />
      <hotspot source="spot8" offsetX="565" offsetY="344" />
    </image>
    <image src="images/0003.jpg">
      <hotspot source="spot2" offsetX="672" offsetY="742" />
      <hotspot source="spot3" offsetX="672" offsetY="676" />
      <hotspot source="spot5" offsetX="672" offsetY="530" />
      <hotspot source="spot7" offsetX="672" offsetY="390" />
      <hotspot source="spot8" offsetX="534" offsetY="347" />
    </image>
    <image src="images/0004.jpg">
      <hotspot source="spot2" offsetX="640" offsetY="736" />
      <hotspot source="spot3" offsetX="640" offsetY="669" />
      <hotspot source="spot5" offsetX="640" offsetY="530" />
      <hotspot source="spot7" offsetX="640" offsetY="390" />
      <hotspot source="spot8" offsetX="520" offsetY="350" />
    </image>
    <image src="images/0005.jpg">
      <hotspot source="spot2" offsetX="610" offsetY="730" />
      <hotspot source="spot3" offsetX="608" offsetY="667" />
      <hotspot source="spot5" offsetX="608" offsetY="530" />
      <hotspot source="spot7" offsetX="608" offsetY="390" />
      <hotspot source="spot8" offsetX="515" offsetY="354" />
    </image>
    <image src="images/0006.jpg">
      <hotspot source="spot2" offsetX="588" offsetY="724" />
      <hotspot source="spot3" offsetX="588" offsetY="664" />
      <hotspot source="spot5" offsetX="588" offsetY="530" />
      <hotspot source="spot7" offsetX="588" offsetY="400" />
      <hotspot source="spot8" offsetX="515" offsetY="362" />
    </image>
    <image src="images/0007.jpg">
      <hotspot source="spot2" offsetX="588" offsetY="718" />
      <hotspot source="spot3" offsetX="590" offsetY="661" />
      <hotspot source="spot5" offsetX="590" offsetY="530" />
      <hotspot source="spot7" offsetX="588" offsetY="400" />
      <hotspot source="spot8" offsetX="530" offsetY="362" />
    </image>
    <image src="images/0008.jpg">
      <hotspot source="spot2" offsetX="588" offsetY="718" />
      <hotspot source="spot3" offsetX="590" offsetY="658" />
      <hotspot source="spot5" offsetX="590" offsetY="530" />
      <hotspot source="spot7" offsetX="588" offsetY="400" />
      <hotspot source="spot8" offsetX="546" offsetY="366" />
    </image>
    <image src="images/0009.jpg" />
    <image src="images/0010.jpg" />
    <image src="images/0011.jpg" />
    <image src="images/0012.jpg" />
    <image src="images/0013.jpg" />
    <image src="images/0014.jpg" />
    <image src="images/0015.jpg" />
    <image src="images/0016.jpg" />
    <image src="images/0017.jpg" />
    <image src="images/0018.jpg" />
    <image src="images/0019.jpg" />
    <image src="images/0020.jpg" />
    <image src="images/0021.jpg" />
    <image src="images/0022.jpg" />
    <image src="images/0023.jpg" />
    <image src="images/0024.jpg" />
    <image src="images/0025.jpg" />
    <image src="images/0026.jpg" />
    <image src="images/0027.jpg" />
    <image src="images/0028.jpg" />
    <image src="images/0029.jpg" />
    <image src="images/0030.jpg" />
    <image src="images/0031.jpg" />
    <image src="images/0032.jpg" />
    <image src="images/0033.jpg" />
    <image src="images/0034.jpg" />
    <image src="images/0035.jpg" />
    <image src="images/0036.jpg">
      <hotspot source="spot2" offsetX="1105" offsetY="750" />
      <hotspot source="spot3" offsetX="1105" offsetY="685" />
      <hotspot source="spot5" offsetX="1105" offsetY="530" />
      <hotspot source="spot7" offsetX="1105" offsetY="390" />
      <hotspot source="spot8" offsetX="997" offsetY="333" />
    </image>
    <image src="images/0037.jpg">
      <hotspot source="spot2" offsetX="1038" offsetY="750" />
      <hotspot source="spot3" offsetX="1038" offsetY="685" />
      <hotspot source="spot5" offsetX="1038" offsetY="530" />
      <hotspot source="spot7" offsetX="1038" offsetY="390" />
      <hotspot source="spot8" offsetX="917" offsetY="333" />
    </image>
    <image src="images/0038.jpg">
      <hotspot source="spot2" offsetX="971" offsetY="750" />
      <hotspot source="spot3" offsetX="973" offsetY="685" />
      <hotspot source="spot5" offsetX="973" offsetY="530" />
      <hotspot source="spot7" offsetX="971" offsetY="390" />
      <hotspot source="spot8" offsetX="830" offsetY="333" />
    </image>
    <image src="images/0039.jpg">
      <hotspot source="spot2" offsetX="900" offsetY="750" />
      <hotspot source="spot3" offsetX="900" offsetY="685" />
      <hotspot source="spot5" offsetX="900" offsetY="530" />
      <hotspot source="spot7" offsetX="900" offsetY="390" />
      <hotspot source="spot8" offsetX="752" offsetY="338" />
    </image>
    <image src="images/0040.jpg">
      <hotspot source="spot2" offsetX="832" offsetY="750" />
      <hotspot source="spot3" offsetX="832" offsetY="685" />
      <hotspot source="spot5" offsetX="832" offsetY="530" />
      <hotspot source="spot7" offsetX="832" offsetY="390" />
      <hotspot source="spot8" offsetX="678" offsetY="340" />
    </image>
  </images>
</config>